<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/Menu.css">

    <!--style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("../img/Fondo.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /*opacity: 0.9;*/
        }
    </style-->

    <title>Inicio</title>
</head>

<body>
    <header>
        <br><br>
        <h1>Pagina principal</h1>
        <nav class="principal">
            <ul>
                <li><a href="/products">Productos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Contenido de la página -->
    </main>

    <footer>
        <p>Contactános</p>
        <p>Direccion San Martin 2052 Local 55</p>
        <p>Atencion al cliente: 8585-8585</p>
        <p>Telegram: 1154585452</p>
    </footer>
</body>
</html>
